<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .section {
            background-color: #7e7e7f;
            color: white;
            font-weight: bold;
            margin-top: 2em;
        }
    </style>
</head>

<body>
    <p class="section">Heures normales:</p>
    <p>(nombre d'heures de garde par semaine x nombre de semaines de garde programmées dans l'année)
        / 12 mois = {{ declaration.heures_par_semaine }} x {{ declaration.semaines_par_an }} / 12
        <br />= {{ calculation.baseHours }} heures/mois</p>

    {{#if declaration.heures_supplementaires}}
    <p class="section">Heures supplémentaires</p>
    <p>{{ declaration.heures_supplementaires }} heures</p>
    {{/if}}

    <p class="section">Nombre de jours d'activité:</p>
    <p>(nombre de jours de garde par semaine x nombre de semaines de garde programmées dans l'année)
        / 12 mois
        <br />= {{ declaration.heures_par_semaine }} x {{ declaration.semaines_par_an }} / 12 =
        {{ calculation.monthlyDaysOfActivity }} jours/mois</p>

    <p class="section">Nombre de jours de congés payés pris au cours du mois:</p>
    <p>{{ declaration.jours_conges_payes_mois }} jours</p>

    <p class="section">Salaire net total (hors indemnités entretien):</p>
    <p>{{ calculation.fmtTotalHours }} x {{ declaration.taux_horaire }} €/h =
        {{ calculation.fmtNetSalary }} €</p>

    <p class="section">Frais d'entretien</p>
    <p> {{ declaration.jours_accueil_mois }} jours d'accueil x
        {{ declaration.frais_entretien_journaliers }} €/jour =
        {{ calculation.fmtMaintenanceExpenses }} €</p>

    <p class="section">Salaire total</p>
    <p>{{ calculation.fmtNetSalary }} + {{ calculation.fmtMaintenanceExpenses }} =
        {{ calculation.fmtTotalIncome }} €</p>

</body>

</html>